.post{
    position: relative;
    margin: 1rem 0;
    height: 7rem;

    &__author{
        position: relative;
        display: inline-block;
        width: 5rem;
        height: 5rem;
        margin-right: 2rem;
        border-radius: 50%;
        box-shadow: 0 0 1rem;
        background-size: cover;
        background-position: center;
    }

    &__heading{
        position: absolute;
        display: inline-block;
        width: 88%;
        
        & a{
            display: inline-block;
            color: #757575;
            text-decoration: none;
            width: 100%;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }

    &__tag{
        position: absolute;
        top: 2.5rem;
        display: inline-block;
    }

    &__info{
        position: absolute;
        right: 0;
        top: 2.5rem;

        &--element{
            display: inline-block;
            margin: 0 1rem;    
        }

    }

    &__time{

    }

    &__react{

    }

    &--1{
        & .post__author{
            background-image: url('../img/author-1.jpg');
        }
        & .tag__color{
            background-color: $question;
        }
    }
    &--2{
        & .post__author{
            background-image: url('../img/author-2.jpg');
        }
        & .tag__color{
            background-color: $find-album;
        }
    }
    &--3{
        & .post__author{
            background-image: url('../img/author-3.jpg');
        }
        & .tag__color{
            background-color: $find-model;
        }
    }
    &--4{
        & .post__author{
            background-image: url('../img/author-4.jpg');
        }
        & .tag__color{
            background-color: $for-fun;
        }
    }
}

.tag{
    &__color{
        position: absolute;
        top: 0.2rem;
        left: 4rem;
        display: inline-block;
        width: 10rem;
        height: 2.5rem;
        border-radius: 2rem;
        box-shadow: 0 0 1rem;
    }
}