@keyframes moveInLeft {
    0% {
        opacity: 0;
        transform: translateX(-15rem);
    }

    80%{
        transform: translateX(1rem);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes moveInRight {
    0% {
        opacity: 0;
        transform: translateX(15rem);
    }

    80%{
        transform: translateX(-1rem);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes moveInBottom {
    0% {
        opacity: 0;
        transform: translateY(5rem);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes moveInTop {
    0% {
        opacity: 0;
        transform: translateY(-5rem);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes appear{
    0% {
        opacity: 0.7;
    }

    100% {
        opacity: 1;
    }
}

@keyframes appear-2{
    0% {
        opacity: 0;
    }

    100% {
        opacity: 0.8;
    }
}


@keyframes click{
    0%{
        opacity: 1;
    }

    50%{
        opacity: 0;
        transform: scaleX(1.5) scaleY(1.6);
    }

    100%{
        opacity: 0;
        transform: scaleX(1) scaleY(1);
    }
}

@keyframes hidden{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 0;
    }
}


@-webkit-keyframes fade { //add form w3school.com
    from {opacity: .4}
    to {opacity: 1}
}
  
@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

@keyframes notify{
    0%{
        opacity: 1;
    }
    30%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
    from{display: inline-block;}
    to{display: none;}
}

@keyframes spin { //add form w3school.com
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}